---
layout: main.njk

galleryBedAndBreakfast:
  - src: /_assets/bed-and-breakfast/gallery/01-surfcamp-pool.jpg
    alt: pool
  - src: /_assets/bed-and-breakfast/gallery/02-sign-dasilva.jpg
  - src: /_assets/bed-and-breakfast/gallery/03-terrace.jpg
    alt: main house terrace
  - src: /_assets/bed-and-breakfast/gallery/04-double-room.jpg
    alt: double room
  - src: /_assets/bed-and-breakfast/gallery/05-double-triple.jpg
    alt: queen size bed
  - src: /_assets/bed-and-breakfast/gallery/06-tinies.jpg
    alt: tiny houses
  - src: /_assets/bed-and-breakfast/gallery/07-longboard.jpg
    alt: scateboards and longboards
  - src: /_assets/bed-and-breakfast/gallery/08-surfcamp-breakfast.jpg
    alt: breakfast at the surfcamp
  - src: /_assets/bed-and-breakfast/gallery/09-common-room.jpg
    alt: cosy common room
galleryTinyHouseLuna:
  - src: /_assets/bed-and-breakfast/tiny-house-luna/01-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/02-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/03-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/04-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/05-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/06-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/07-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/08-tiny-house-luna.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-luna/09-tiny-house-luna.jpg
galleryTinyHouseEloa:
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/01-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/02-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/03-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/04-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/05-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/06-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/07-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/08-tiny-house-eloa.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-eloa/09-tiny-house-eloa.jpg
galleryTinyHouseJorgina:
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/01-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/02-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/03-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/04-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/05-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/06-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/07-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/08-tiny-house-jorgina.jpg
  - src: /_assets/bed-and-breakfast/tiny-house-jorgina/09-tiny-house-jorgina.jpg
galleryQuartoDoTerraco:
  - src: /_assets/bed-and-breakfast/quarto-do-terraco/01-quarto-do-terraco.jpg
  - src: /_assets/bed-and-breakfast/quarto-do-terraco/02-quarto-do-terraco.jpg
  - src: /_assets/bed-and-breakfast/quarto-do-terraco/03-quarto-do-terraco.jpg
  - src: /_assets/bed-and-breakfast/quarto-do-terraco/04-quarto-do-terraco.jpg
  - src: /_assets/bed-and-breakfast/quarto-do-terraco/05-quarto-do-terraco.jpg
  - src: /_assets/bed-and-breakfast/quarto-do-terraco/06-quarto-do-terraco.jpg
galleryQuartoZambujeira:
  - src: /_assets/bed-and-breakfast/quarto-zambujeira/01-quarto-zambujeira.jpg
  - src: /_assets/bed-and-breakfast/quarto-zambujeira/02-quarto-zambujeira.jpg
  - src: /_assets/bed-and-breakfast/quarto-zambujeira/03-quarto-zambujeira.jpg
  - src: /_assets/bed-and-breakfast/quarto-zambujeira/04-quarto-zambujeira.jpg
  - src: /_assets/bed-and-breakfast/quarto-zambujeira/05-quarto-zambujeira.jpg
galleryQuartoAbelheira:
  - src: /_assets/bed-and-breakfast/quarto-abelheira/01-quarto-abelheira.jpg
  - src: /_assets/bed-and-breakfast/quarto-abelheira/02-quarto-abelheira.jpg
  - src: /_assets/bed-and-breakfast/quarto-abelheira/03-quarto-abelheira.jpg
  - src: /_assets/bed-and-breakfast/quarto-abelheira/04-quarto-abelheira.jpg
  - src: /_assets/bed-and-breakfast/quarto-abelheira/05-quarto-abelheira.jpg
galleryQuartoAzul:
  - src: /_assets/bed-and-breakfast/quarto-azul/01-quarto-azul.jpg
  - src: /_assets/bed-and-breakfast/quarto-azul/02-quarto-azul.jpg
  - src: /_assets/bed-and-breakfast/quarto-azul/03-quarto-azul.jpg
  - src: /_assets/bed-and-breakfast/quarto-azul/04-quarto-azul.jpg
  - src: /_assets/bed-and-breakfast/quarto-azul/05-quarto-azul.jpg
  - src: /_assets/bed-and-breakfast/quarto-azul/06-quarto-azul.jpg
galleryQuartoVermelho:
  - src: /_assets/bed-and-breakfast/quarto-vermelho/01-quarto-vermelho.jpg
  - src: /_assets/bed-and-breakfast/quarto-vermelho/02-quarto-vermelho.jpg
  - src: /_assets/bed-and-breakfast/quarto-vermelho/03-quarto-vermelho.jpg
  - src: /_assets/bed-and-breakfast/quarto-vermelho/04-quarto-vermelho.jpg
  - src: /_assets/bed-and-breakfast/quarto-vermelho/05-quarto-vermelho.jpg
  - src: /_assets/bed-and-breakfast/quarto-vermelho/06-quarto-vermelho.jpg
galleryCamperVan:
  - src: /_assets/bed-and-breakfast/camper-van/01-camper-van.jpg
  - src: /_assets/bed-and-breakfast/camper-van/02-camper-van.jpg
  - src: /_assets/bed-and-breakfast/camper-van/03-camper-van.jpg
  - src: /_assets/bed-and-breakfast/camper-van/04-camper-van.jpg
  - src: /_assets/bed-and-breakfast/camper-van/05-camper-van.jpg
  - src: /_assets/bed-and-breakfast/camper-van/06-camper-van.jpg
  - src: /_assets/bed-and-breakfast/camper-van/07-camper-van.jpg
relatedPages:
  - surfing
  - kidsAreWelcome
  - mountainBike      
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "gallery.njk" as gallery %}
{% import "columns.njk" as columns %}
{% import "related.njk" as related %}

{{ hero.image(
  src="/_assets/bed-and-breakfast/hero/the-place-to-be.jpg",
  alt=links[locale].bedAndBreakfast.title)
}}

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

{{ gallery.bedAndBreakfast }}
<section>
  {{ gallery.three(images=galleryBedAndBreakfast) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "accomodation", locale) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "main-house", locale) }}
</section>

<section>
  {{ columns.two(
    headline="Tiny House Luna",
    leftColumn=gallery.three(images=galleryTinyHouseLuna),
    rightColumn=partial.get(collections, tags, "tiny-house-luna", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Tiny House Eloá",
    leftColumn=gallery.three(images=galleryTinyHouseEloa),
    rightColumn=partial.get(collections, tags, "tiny-house-eloa", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Tiny House Jorgina",
    leftColumn=gallery.three(images=galleryTinyHouseJorgina),
    rightColumn=partial.get(collections, tags, "tiny-house-jorgina", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Quarto do Terraço",
    subHeadline="Doppel- oder 4-Bettzimmer",
    leftColumn=gallery.three(images=galleryQuartoDoTerraco),
    rightColumn=partial.get(collections, tags, "quarto-do-terraco", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Quarto Zambujeira",
    subHeadline="Doppelzimmer",
    leftColumn=gallery.three(images=galleryQuartoZambujeira),
    rightColumn=partial.get(collections, tags, "quarto-zambujeira", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Quarto Abelheira",
    subHeadline="Doppel- oder Dreibettzimmer",
    leftColumn=gallery.three(images=galleryQuartoAbelheira),
    rightColumn=partial.get(collections, tags, "quarto-abelheira", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Quarto Azul",
    subHeadline="Girls 4-Bettzimmer",
    leftColumn=gallery.three(images=galleryQuartoAzul),
    rightColumn=partial.get(collections, tags, "quarto-azul", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Quarto Vermelho",
    subHeadline="Gemischt / 7-Bettzimmer",
    leftColumn=gallery.three(images=galleryQuartoVermelho),
    rightColumn=partial.get(collections, tags, "quarto-vermelho", locale)
  )}}
</section>

<section>
  {{ columns.two(
    headline="Camper Van",
    subHeadline="ausgebucht ≠ ausgebucht",
    leftColumn=gallery.three(images=galleryCamperVan),
    rightColumn=partial.get(collections, tags, "camper-van", locale)
  )}}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "glamping-people-surrounding", locale) }}
</section>

<nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
</nav>

<script>
var elements = document.getElementsByName('booking-link');

for (var i=0, max=elements.length; i < max; i++) {
  elements[i].setAttribute('href', `https://da-silva-bike-surf-camp.bookinglayer.io/#/product/59455?lang={{ locale }}&start=${today()}&duration=10&couple=1`)
}
</script>
