---
layout: main.njk
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "galery.njk" as galery %}
{% import "columns.njk" as columns %}

{{ hero.image(
  src="/_assets/bed-and-breakfast/hero/the-place-to-be.jpg",
  alt=links[locale].bedAndBreakfast.title)
}}

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

{{ galery.bedAndBreakfast }}
<section>
  {{ galery.3cols(images=galeryimages.bedAndBreakfast) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "accomodation", locale) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "main-house", locale) }}
</section>

<section>
{{ footer[locale].impress }}
{{ title }} {{ links.en.home.title }} {{ images.a }} x
  {{ columns.2cols(
    headline="Tiny House Luna",
    rightColumn=partial.get(collections, tags, "tiny-house-luna", locale)
  )}}
</section>
