---
layout: main.njk

galleryBedAndBreakfast:
  - src: /_assets/bed-and-breakfast/gallery/01-surfcamp-pool.jpg
  - src: /_assets/bed-and-breakfast/gallery/02-sign-dasilva.jpg
  - src: /_assets/bed-and-breakfast/gallery/03-terrace.jpg
  - src: /_assets/bed-and-breakfast/gallery/04-double-room.jpg
  - src: /_assets/bed-and-breakfast/gallery/05-double-triple.jpg
  - src: /_assets/bed-and-breakfast/gallery/06-tinies.jpg
  - src: /_assets/bed-and-breakfast/gallery/07-longboard.jpg
  - src: /_assets/bed-and-breakfast/gallery/08-surfcamp-breakfast.jpg
  - src: /_assets/bed-and-breakfast/gallery/09-common-room.jpg
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "gallery.njk" as gallery %}
{% import "columns.njk" as columns %}

{{ hero.image(
  src="/_assets/bed-and-breakfast/hero/the-place-to-be.jpg",
  alt=links[locale].bedAndBreakfast.title)
}}

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

{{ gallery.bedAndBreakfast }}
<section>
  {{ gallery.3cols(images=galleryBedAndBreakfast) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "accomodation", locale) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "main-house", locale) }}
</section>

<section>
  {{ columns.2cols(
    headline="Tiny House Luna",
    leftColumn=gallery.3cols(images=galleryBedAndBreakfast),
    rightColumn=partial.get(collections, tags, "tiny-house-luna", locale)
  )}}
</section>
