---
# layout: main.njk
# this template inherits (extends) main.njk
#  so that we can use the block head_extra
# attention: block main has to be used

relatedPages:
  - bedAndBreakfast
  - surfing
  - mountainBike
---
{% extends "main.njk" %}

{% block head_extra %}
    <script src="/_assets/scripts/valid-form.min.js"></script>
{% endblock %}

{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "related.njk" as related %}


{% block main %}

  {{ hero.image(
  src="/_assets/booking-request/hero-booking-request.jpg",
  alt=links[locale].bookingRequest.title)
  }}

  <section class="centered">
  {{ partial.get(collections, tags, "form", locale) }}
  </section>

  <nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
  </nav>

{% endblock %}