
<div class="form">
<form action="mailto:mat@alabaster.de">

<div class="form__line"
<label for="address">{{ address.label }}</label>
<input type="text" name="address" id="address">
</div>

<div class="form__line"
<label for="phone">{{ phone.label }}</label>
<input type="text" name="phone" id="phone" value="{{phone.value}}">
</div>

</div>
<input type="submit" value="{{submit.label}}">
</form>
