{% macro 2cols(headline = "", subHeadline = "", leftColumn = "", rightColumn = "") %}

  <div class="two-columns">

    <h2>{{ headline }}</h2>
    <h3>{{ subHeadline }}</h3>
    <div class="two-columns__container">
      <div class="two-columns__left">
        {{ leftColumn }}
      </div>
      <div class="two-columns__right">
        {{ rightColumn }}
      </div>
    </div>
  </div>

{% endmacro %}%}

