<div>
  <ul>
    <li>
      <a href="https://www.facebook.com/DaSilvaSurfcampPortugal/">
        <i class="fa fa-facebook">Facebook</i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dasilvasurfcamp/">
        <i class="fa fa-instagram">Instagram</i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=eljYirYsOEs">
        <i class="fa fa-youtube">Youtube</i>
      </a>
    </li>
    <li>
      <a href="https://vimeo.com/dasilvasurfcampportugal">
        <i class="fa fa-vimeo">Vimeo</i>
      </a>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li>
      <a href="{{ links[locale].contact.path }}">{{ links[locale].contact.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].imprint.path }}">{{ links[locale].imprint.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].termsAndConditions.path }}">{{ links[locale].termsAndConditions.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].privacyPolicies.path }}">{{ links[locale].privacyPolicies.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].faq.path }}">{{ links[locale].faq.title }}</a>
    </li>
  </ul>
</div>

<div>
  {% include "menu-list.njk"%}
</div>

{% include "lang-switch.njk" %}