<div>
  <ul>
    <li>
      <a href="https://www.facebook.com/DaSilvaSurfcampPortugal/">
        <i class="fa fa-facebook">Facebook</i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/dasilvasurfcamp/">
        <i class="fa fa-instagram">Instagram</i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/watch?v=eljYirYsOEs">
        <i class="fa fa-youtube">Youtube</i>
      </a>
    </li>
    <li>
      <a href="https://vimeo.com/dasilvasurfcampportugal">
        <i class="fa fa-vimeo">Vimeo</i>
      </a>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li>
      <a href="/{{locale}}/kontakt/">{{ footer[locale].contact }}</a>
    </li>
    <li>
      <a href="/{{locale}}/dummy/">{{ footer[locale].booking }}</a>
    </li>
    <li>
      <a href="/{{locale}}/dummy/">{{ footer[locale].terms }}</a>
    </li>
    <li>
      <a href="/{{locale}}/dummy/">{{ footer[locale].impress }}</a>
    </li>
    <li>
      <a href="/{{locale}}/dummy/">{{ footer[locale].faq }}</a>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li>
      <a href="{{ links[locale].home.path }}">{{ links[locale].home.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].bedAndBreakfast.path }}">{{ links[locale].bedAndBreakfast.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].mountainBike.path }}">{{ links[locale].mountainBike.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].kidsAreWelcome.path }}">{{ links[locale].kidsAreWelcome.title }}</a>
    </li>    
  </ul>
</div>

{% include "lang-switch.njk" %}