{% macro 3cols(
  images=[{
    src:"/_assets/dasilva-surfcamp-logo.png",
    alt:"Da Silve Surfcamp",
    link:"https://dasilva-surfcamp.de"}]
  ) 
%}
  <div class="galery-container">
    {% for image in images%}
      <div class="tile">
        {% if image.link %}<a href="{{image.link}}">{% endif %}
          <img src="{{image.src}}"
           {% if image.alt %} alt="{{image.alt}}" {% endif %}
          />
        {% if image.link %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>

  <style>

    .galery-container {
      display: grid;
      grid-template-columns: 1fr;
    }

    .galery-container > div {
      padding: 0;
      margin: 0.2rem 0;
    }

    @media screen and (min-width: 767px) {

      .galery-container {
        grid-template-columns: 1fr 1fr 1fr;
      }
      .galery-container > div {
        background-color: lightgrey;
        padding: 0;
        margin: 0.5rem;
      }      
      .tile {}
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%; // auto?
    }
  </style>

{% endmacro %}%}

