{% macro three(
  images=[{
    src:"/_assets/dasilva-surfcamp-logo.png",
    alt:"Da Silve Surfcamp",
    link:"https://dasilva-surfcamp.de"}]
  ) 
%}
  <div class="gallery-container">
    {% for image in images%}
      <div>
        {% if image.link %}<a href="{{image.link}}">{% endif %}
          <img src="{{image.src}}"
           {% if image.alt %} alt="{{image.alt}}" {% endif %}
           class="gallery-image"
          />
        {% if image.link %}</a>{% endif %}
      </div>
    {% endfor %}
  </div>

{% endmacro %}

