{% macro three(
  images=[{
    src:"/_assets/dasilva-surfcamp-logo.png",
    alt:"Da Silve Surfcamp Logo",
    link:"https://dasilva-surfcamp.de"}],
  altDefault="photo"
  ) 
%}
  <div class="gallery">
    {% for image in images%}
      <div 
        {% if loop.length > 3 and loop.index0 == 2 %}class="gallery__item-3"
        {% elif loop.index0 > 2 %}class="gallery__item-more-than-3"
        {% endif %}
       >
        {% if image.link %}<a href="{{image.link}}">{% endif %}
          <img src="{{image.src}}"
            {% if image.alt %} alt="{{image.alt}}" 
            {% else %} alt="{{altDefault}}"
            {% endif %}
           class="gallery-image"/>
        {% if image.link %}</a>{% endif %}
        <div class="gallery__show-more">
          <div class="gallery__circle">
            <img src="/_assets/icons/svgrepo/pictures.svg" class="gallery__more-icon" alt="more pictures">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}
