<div class="hamburger-menu">
  <input
      type="checkbox"
      class="hamburger-menu__checkbox"
      id="divi-toggle"
/>
  <label htmlFor="navi-toggle" class="hamburger-menu__button">
    <span class="hamburger-menu__icon">☰</span>
  </label>
  <div class="hamburger-menu__background">&nbsp;</div>
  <div class="hamburger-menu__nav">
    <ul class="hamburger-menu__list">
      <li class="hamburger-menu__item">
        <Link
            to="/"
            class="hamburger-menu__link"
            activeClass="active"
          >
            Home
          </Link>
      </li>
    </ul>
  </div>
</div>