<div className="hamburger-menu">
  <h1>HAMBURGER MENU</h1>
  <input
      type="checkbox"
      className="hamburger-menu__checkbox"
      id="divi-toggle"
/>
  <label htmlFor="navi-toggle" className="hamburger-menu__button">
    <span className="hamburger-menu__icon">☰</span>
  </label>
  <div className="hamburger-menu__background">&nbsp;</div>
  <div className="hamburger-menu__nav">
    <ul className="hamburger-menu__list">
      <li className="hamburger-menu__item">
        <Link
            to="/"
            className="hamburger-menu__link"
            activeClassName="active"
          >
            Home
          </Link>
      </li>
    </ul>
  </div>
</div>