<nav class="hamburger-menu">
  <input  
      type="checkbox"
      class="hamburger-menu__checkbox"
      id="navi-toggle"
  />
  <label for="navi-toggle" class="hamburger-menu__button">
    <span class="hamburger-menu__icon">☰</span>
  </label>
  <div class="canvas">&nbsp;</div>
  <div class="menu-area">
    <ul class="hamburger-menu__list">
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].home.path }}" class="hamburger-menu__link">{{ links[locale].home.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].surfing.path }}" class="hamburger-menu__link">{{ links[locale].surfing.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].mountainbikes.path }}" class="hamburger-menu__link">{{ links[locale].mountainbikes.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].kidsAreWelcome.path }}" class="hamburger-menu__link">{{ links[locale].kidsAreWelcome.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].happyHorses.path }}" class="hamburger-menu__link">{{ links[locale].happyHorses.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].activities.path }}" class="hamburger-menu__link">{{ links[locale].activities.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].booking.path }}" class="hamburger-menu__link">{{ links[locale].booking.title }}</a>
    </li>
    <li class="hamburger-menu__item">
      <a href="{{ links[locale].bedAndBreakfast.path }}" class="hamburger-menu__link">{{ links[locale].bedAndBreakfast.title }}</a>
    </li>
    </ul>
  </div>
</nav>
