<a href="{{ links[locale].home.path }}">
  <img src="/_assets/dasilva-surfcamp-logo.png" class="logo" alt="{{ links[locale].home.title }}">
</a>
<nav>
  {% include "menu-bar.njk" %}
</nav>
<nav>
  {% include "menu-hamburger.njk" %}
</nav>
