<nav>
  <img src="/_assets/static/dasilva-surfcamp-logo.png" class="logo">
  <a href="/">Surfcamp / Home</a>
  <b> · </b>
  <a href="/">Surfing</a>
  <b> · </b>
  <a href="/">Mountainbikes</a>
  <b> · </b>
  <a href="/">Kids are Welcome</a>
  <b> · </b>
  <a href="/">Happy Horses</a>
  <b> · </b>
  <a href="/">Activities</a>
  <b> · </b>
  <a href="/">Unterkunft</a>
  <b> · </b>
  <a href="/">Buchen</a>
</nav>