{% macro image(src="/_assets/bed-and-breakfast/hero/the-place-to-be.jpg", alt="Da Silver Surfcamp") %}

  <img class="max-scaled" src="{{ src }}" alt="{{alt}}"/>

  <style>
    .max-scaled {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  </style>

{% endmacro %}