---
layout: main.njk

relatedPages:
  - surfschool
  - mountainBike
  - kidsAreWelcome
  - happyHorses
  - bedAndBreakfast

bookingBanner:
  - bookingBedAndBreakfast
  - bookingPackages
  - bookingExperiences
---

{% import "hero.njk" as hero %}
{% import "related.njk" as related %}
{% import "partial.njk" as partial %}
{% import "gallery.njk" as gallery %}
{% import "video.njk" as video %}
{% import "columns.njk" as columns %}

{{ hero.image(src="/_assets/home/hero/portuguese-spirit-of-surfing.jpg") }}

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

<nav class="display-if-middle-to-wide">
  {% include "masonry.njk" %}
</nav>

<nav class="display-if-small">
  {{ related.three(links[locale], relatedPages)}}
</nav>

<section class="centered">
  {{ partial.get(collections, tags, "corona", locale) }}
</section>

<section>
  {{ video.vimeo(videoId="173051720") }}
</section>

<section>
  {{ columns.three(
    headline="Booking",
    leftColumn=partial.get(collections, tags, "bookingRequest", locale),
    middleColumn=partial.get(collections, tags, "prices", locale),
    rightColumn=partial.get(collections, tags, "travelDirections", locale)
  )}}
</section>

<section>
  {{ related.three(links[locale], bookingBanner)}}
</section>

<style>
  .decoration-icon-frame {
    text-align: center;
    a {
      text-decoration: none;
    }
  }
  .decoration-icon {
    width: 15%;
    padding: 0.8rem
  }
  .price-icon {
    width: 5%;
  }
  .price-icon-y {
    width: 6%;
    padding: 0;
    margin: 0;
  }  
</style>