---
layout: main.njk
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "gallery.njk" as gallery %}

<section>
  <div style="margin-bottom: -4.0rem">
    {{ hero.image(src="/_assets/home/hero/portuguese-spirit-of-surfing.jpg") }}
  </div>

  {% include "masonry.njk" %}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

<section>
  {% include "video.njk" %}
</section>
