---
layout: main.njk
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "galery.njk" as galery %}

<section>
  <div class="hero">
    {{ hero.image(src="/_assets/static/home/hero/portuguese-spirit-of-surfing.jpg") }}
  </div>

  {% include "masonry.njk" %}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "welcome", locale) }}
</section>

<style>
  .hero {
    margin-bottom: -4.0rem;
  }
</style>