{% for language in site.languages %}

  {% if loop.first %}<ul class="c-lggnav">{% endif %}

  {# default: set to home #}
  {% set translatedUrl = "/" + language.code + "/" %}
  {% set activeClass = "is-active" if language.code == locale else "" %}
  
  {% for item in collections[tags] %}
      {% if not item.data.partial %}
          {% if item.data.locale == language.code %}
            {% set translatedUrl = item.url %}
          {% endif %}
      {% endif %}
  {% endfor %}

  <li class="language-switch">
    <a class="{{ activeClass }}" href="{{ translatedUrl }}">
      <img src="/_assets/flags/{{language.code}}.svg" alt="{{ language.label }}" class="language-switch__flag"/>
      {{ language.label }}
    </a>
  </li>

  {% if loop.last %}</ul>{% endif %}
{% endfor %}

<style>
  .language-switch__flag {
    width: 30px;
  }
</style>