{% for language in site.languages %}

  {% if loop.first %}
    <div class="language-switch">
    {% endif %}

    {# default: set to home #}
    {% set translatedUrl = "/" + language.code + "/" %}
    {% set activeClass = "is-active" if language.code == locale else "" %}

    {% for item in collections[tags] %}
      {% if not item.data.partial %}
        {% if item.data.locale == language.code %}
          {% set translatedUrl = item.url %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <div class="language-switch_item">
      <a class="{{ activeClass }}" href="{{ translatedUrl }}">
        <span class"language-switch_label">{{ language.label }}</span>
        <img src="/_assets/flags/{{language.code}}.svg" alt="{{ language.label }}" class="language-switch__flag"/>
      </a>
    </div>

    {% if loop.last %}
    </div>
  {% endif %}
{% endfor %}

<style>
  .language-switch {
    display: grid;
  }
  .language-switch_label {
    padding: 5px;
  }
  .language-switch__flag {
    width: 30px;
  }
</style>