<div class="masonry">
  <a href="{{ links[locale].bedAndBreakfast.path }}" class="masonry__item one">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/unterkunft.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].bedAndBreakfast.title }}</div>
    </div>
  </a>

  <a href="{{ links[locale].surfschool.path }}" class="masonry__item two">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/surfschool.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].surfschool.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].kidsAreWelcome.path }}" class="masonry__item three">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/kids-are-welcome.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].kidsAreWelcome.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].happyHorses.path }}" class="masonry__item four">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/happy-horses.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].happyHorses.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].skateboarding.path }}" class="masonry__item five">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/skateboarding.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].skateboarding.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].yoga.path }}" class="masonry__item six">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/yoga.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].yoga.title }}</div>
    </div>
  </a>
  <a href="{{ links[locale].mountainBike.path }}" class="masonry__item seven">
    <img class="masonry__image lazyload" data-src="/_assets/masonry/mountain-bike.jpg"/>
    <div class="masonry__text-box">
      <div class="masonry__title">{{ links[locale].mountainBike.title }}</div>
    </div>
  </a>
</div>