<div class="masonry">
  <div class="masonry__item one">
    <a href="{{ links[locale].bedAndBreakfast.path }}">
      <img class="masonry__img" src="/_assets/masonry/portugal_surfcamp-e1586447532869-1200x900.jpg"/>
      <div class="related__text-box">
        <div class="related__title">{{ links[locale].bedAndBreakfast.title }}</div>
      </div>
    </a>      
  </div>
  <div class="masonry__item two">
    <img class="masonry__img" src="/_assets/masonry/happy_horses_01-600x450.jpg"/>
  </div>
  <div class="masonry__item three">
    <img class="masonry__img" src="/_assets/masonry/surfcamp-portugal_Kids_1-600x900.jpg"/>
  </div>
  <div class="masonry__item four">
    <img class="masonry__img" src="/_assets/masonry/DaSi_YogaPix_titel-600x450.jpg"/>
  </div>
  <div class="masonry__item five">
    <img class="masonry__img" src="/_assets/masonry/rampe_noche_sm_web-600x450.jpg"/>
  </div>
  <div class="masonry__item six">
    <img class="masonry__img" src="/_assets/masonry/portugal_surfcamp_035-e1586360473425-600x450.jpg"/>
  </div>
  <div class="masonry__item seven">
    <img class="masonry__img" src="/_assets/masonry/joyride-1200x450.jpg"/>
  </div>
</div>