<div class="menu-bar">
  <ul class="text-links">
    {# <li>
      <a href="{{ links[locale].home.path }}">{{ links[locale].home.title }}</a>
    </li> #}
    <li  style="list-style-type: none;">
      <a href="{{ links[locale].bedAndBreakfast.path }}">{{ links[locale].bedAndBreakfast.title }}</a>
    </li>    
    <li>
      <a href="{{ links[locale].surfing.path }}">{{ links[locale].surfing.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].mountainBike.path }}">{{ links[locale].mountainBike.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].happyHorses.path }}">{{ links[locale].happyHorses.title }}</a>
    </li>
    <li>
      <a href="{{ links[locale].kidsAreWelcome.path }}">{{ links[locale].kidsAreWelcome.title }}</a>
    </li>    
    {# <li>
      <a href="{{ links[locale].activities.path }}">{{ links[locale].activities.title }}</a>
    </li> #}
    <li>
      <a href="{{ links[locale].booking.path }}">{{ links[locale].booking.title }}</a>
    </li>
  </ul>
</div>