<div class="menu-hamburger">
  <input  
    type="checkbox"
    class="menu-hamburger__checkbox"
    id="navi-toggle"/>
    <label for="navi-toggle" class="menu-hamburger__button">
      <span class="menu-hamburger__icon">☰</span>
    </label>
  {% include "menu-list.njk"%}
</div>