---
galleryMountainbike:
  - src: /_assets/mountain-bike/gallery/01-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/02-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/03-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/04-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/05-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/06-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/07-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/08-mountain-bike.jpg
  - src: /_assets/mountain-bike/gallery/09-mountain-bike.jpg

relatedPages:
  - surfschool
  - trailRunning
  - skateboarding      
---
{% extends "main.njk"%}

{% import "partial.njk" as partial %}
{% import "gallery.njk" as gallery %}
{% import "columns.njk" as columns %}
{% import "price-table.njk" as priceTable %}
{% import "related.njk" as related %}

{% block logo %}
  {{ logo.show(
    imgSrc="/_assets/logos/dasilva-bikecamp-logo.png",
    link=links[locale].mountainBike.path,
    alt=links[locale].mountainBike.title)
  }}
{% endblock %}

{% block main %}
{% image {src:"./src/assets/mountain-bike/hero-mountain-bike.jpg", 
alt:links[locale].mountainBike.title, myClass:"max-scaled"} %}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {{ gallery.three(images=galleryMountainbike, altDefault="MTB Portugal countryside and coast") }}
</section>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, "prices", "mtb-package", locale) }}
  </div>
  {{ partial.get(collections, "prices", "mtb-package-info", locale) }}
  {{ priceTable.three(collections, "prices", "mtb-package-prices", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, "prices", "surf-mtb-package-about", locale) }}
  <div class="centered-text">
    {{ partial.get(collections, "prices", "surf-mtb-package-including", locale) }}
    {{ priceTable.three(collections, "prices", "surfMtbPackagePrices", locale) }}
  </div>
</season>

<nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
</nav>

{% endblock %}