---
layout: main.njk

bookingBanner:
  - bookingBedAndBreakfast
  - bookingPackages
  - bookingExperiences    
---
{% import "partial.njk" as partial %}
{% import "price-table.njk" as priceTable %}
{% import "related.njk" as related %}
{# 
<section class="display-if-middle-to-wide">
  {{ related.three(links[locale], bookingBanner)}}
</section>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "bedAndBreakfast", locale) }}
  </div>
  {{ priceTable.three(collections, tags, "bedAndBreakfastPrices", locale) }}
</season>

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "surfPackage", locale) }}
  </div>
  {{ priceTable.three(collections, tags, "surfPackagePrices", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "surfPackage2Weeks", locale) }}
  {{ priceTable.three(collections, tags, "surfPackage2WeeksPrices", locale) }}
</season> #}

<section class="centered">
  <div class="centered-text">
    {{ partial.get(collections, tags, "surfMtbPackage", locale) }}
  </div>
  {{ priceTable.three(collections, tags, "surfMtbPackagePrices", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "surfSchool", locale) }}
  {{ priceTable.three(collections, tags, "surfSchoolPrices", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "camping", locale) }}
</season>

<section class="">
  {{ partial.get(collections, tags, "directions-tips-activities", locale) }}
</season>

<section class="centered">
  {{ partial.get(collections, tags, "booking", locale) }}
</season>

<section>
  {{ related.three(links[locale], bookingBanner)}}
</section>