{% macro three(linksData, relatedPages) %}

  <div class="related">
    <div class="related__grid">
      {% for page in relatedPages %}
        <div class="related__item">
          <a href="{{ linksData[page].path }}">
            <img data-src="{{ linksData[page].image }}"
              alt="{{ linksData[page].title }}" 
              class="related__image lazyload"/>
            {# {% image {src:"{{linksData[page].image}}", 
              alt:"{{linksData[page].title}}",
              myClass:"related__image"} %} #}
            <div class="related__text-box">
              <div class="related__title">{{ linksData[page].title }}</div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

{% endmacro %}