---
layout: main.njk

gallerySurfAndYoga:
  - src: /_assets/surf-and-yoga/gallery/01-surf-and-yoga.jpg
  - src: /_assets/surf-and-yoga/gallery/02-surf-and-yoga.jpg
  - src: /_assets/surf-and-yoga/gallery/03-surf-and-yoga.jpg
 
relatedPages:
  - surfing
  - trailRunning
  - kidsAreWelcome
bookingBanner:
  - bookingBedAndBreakfast
  - bookingPackages
  - bookingExperiences
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "gallery.njk" as gallery %}
{% import "columns.njk" as columns %}
{% import "price-table.njk" as priceTable %}
{% import "related.njk" as related %}

<section>
  {{ gallery.three(images=gallerySurfAndYoga) }}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

{{ hero.image(
  src="/_assets/surf-and-yoga/hero-surf-and-yoga.jpg",
  alt=links[locale].surfAndYoga.title)
}}

<section class="centered">
  {{ partial.get(collections, tags, "prices", locale) }}
  {{ priceTable.three(collections, "prices", "surfYogaPackagePrices", locale) }}
  {{ partial.get(collections, tags, "including", locale) }}
</section>

<nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
  {{ related.three(links[locale], bookingBanner)}}
</nav>
