---
layout: main.njk

gallerySurfing:
  - src: /_assets/surfing/gallery/01-surfing.jpg
  - src: /_assets/surfing/gallery/02-surfing.jpg
  - src: /_assets/surfing/gallery/03-surfing.jpg
  - src: /_assets/surfing/gallery/04-surfing.jpg
  - src: /_assets/surfing/gallery/05-surfing.jpg
  - src: /_assets/surfing/gallery/06-surfing.jpg
  - src: /_assets/surfing/gallery/07-surfing.jpg
  - src: /_assets/surfing/gallery/08-surfing.jpg
  - src: /_assets/surfing/gallery/09-surfing.jpg
 
relatedPages:
  - bedAndBreakfast
  - kidsAreWelcome
  - mountainBike      
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "columns.njk" as columns %}
{% import "gallery.njk" as gallery %}
{% import "related.njk" as related %}

{{ hero.image(
  src="/_assets/surfing/hero-surfing.jpg",
  alt=links[locale].mountainBike.title)
}}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {{ columns.two(
    headline="Qualifiziert durch die FPS",
    subHeadline="(Federação Portuguesa de Surf)",
    leftColumn=gallery.three(images=gallerySurfing),
    rightColumn=partial.get(collections, tags, "qualified", locale)
  )}}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "ideology", locale) }}
</section>

<section class="centered">
  {{ columns.three(
    headline="Surf Class Prices",
    subHeadline="The price includes the bus shuttle, surfboard and wetsuit, theoretical and practical lessons and insurance.",
    leftColumn=partial.get(collections, tags, "low-season", locale),
    middleColumn=partial.get(collections, tags, "mid-season", locale),
    rightColumn=partial.get(collections, tags, "high-season", locale)
  )}}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "whats-included", locale) }}
</section>

<nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
</nav>
