---
layout: main.njk

gallerySurfing:
  - src: /_assets/surfing/gallery/01-surfing.jpg
  - src: /_assets/surfing/gallery/02-surfing.jpg
  - src: /_assets/surfing/gallery/03-surfing.jpg
  - src: /_assets/surfing/gallery/04-surfing.jpg
  - src: /_assets/surfing/gallery/05-surfing.jpg
  - src: /_assets/surfing/gallery/06-surfing.jpg
  - src: /_assets/surfing/gallery/07-surfing.jpg
  - src: /_assets/surfing/gallery/08-surfing.jpg
  - src: /_assets/surfing/gallery/09-surfing.jpg
 
relatedPages:
  - surfAndYoga
  - mountainBike
  - skating
---
{% import "partial.njk" as partial %}
{% import "hero.njk" as hero %}
{% import "columns.njk" as columns %}
{% import "gallery.njk" as gallery %}
{% import "price-table.njk" as priceTable %}
{% import "related.njk" as related %}
{% import "video.njk" as video %}

{{ hero.image(
  src="/_assets/surfing/hero-surfing.jpg",
  alt=links[locale].mountainBike.title)
}}

<section class="centered">
  {{ partial.get(collections, tags, "start", locale) }}
</section>

<section>
  {{ columns.two(
    leftColumn=gallery.three(images=gallerySurfing),
    rightColumn=partial.get(collections, tags, "qualified", locale)
  )}}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "prices", locale) }}
  {{ priceTable.three(collections, "prices", "surfSchoolPrices", locale) }}
  {{ partial.get(collections, tags, "whats-included", locale) }}
  {{ partial.get(collections, tags, "class", locale) }}
</section>

<section>
  {{ video.vimeo(videoId="168799316") }}
</section>

<nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
</nav>