---
layout: main.njk

relatedPages:
  - bedAndBreakfast
  - surfing
  - mountainBike 
---
{% import "partial.njk" as partial %}
{% import "address-map.njk" as addressMap %}
{% import "related.njk" as related %}

<section>
{{ addressMap.twoColumns(
    address=partial.get(collections, tags, "address", locale),
    imageSrc="/_assets/travel-directions/map-surfcamp.jpg"
)}}
</section>

<section class="centered">
  {{ partial.get(collections, tags, "directions", locale) }}
</section>



<nav class="centered">
  {{ related.three(links[locale], relatedPages)}}
</nav>
