<div class="video">
  <iframe loading="lazy" src="https://player.vimeo.com/video/173051720" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen ></iframe>
</div>
<script src="https://player.vimeo.com/api/player.js"></script>
