.address-map {
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  &__container>div {
    padding: 0;
    margin: 0 auto;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  @include respond(small) {

    &__left {
      text-align: left;
    }
  }

  @include respond(wide) {

    &__container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
    }

    &__container>div {
      padding: 0;
      margin: 0.5rem;
    }

    &__left>* {
      text-align: right;
      max-width: $mobile-width;
      margin: 1.6rem 0 1.6rem auto;

      h1,
      h2 {
        text-align: right;
      }
    }
  }
}