footer {
  font-size: $font-size-middle;
  text-align: center;
  margin: 5rem;
  display: flex-wrap;
  justify-content: space-between;

  // override global "-" dashes
  ul>li:before {
    content: '';
  }
  
  li {
    display: inline;
    margin-left: 1.6rem;
  }

  li:first-child {
    margin-left: 0;
  }
}

.footer {
  &__social {
    a {
      padding: 0;
    }
    .fa-w-10 {
      width: 1.2rem;
      color: #777;
    }
    .fa-w-14 {
      width: 1.6rem;
      color: #777;
    }
    .fa-w-18 {
      width: 2.1rem;
      color: #777;
    }
  }

  &__lang-switch {
    display: inline-flex;
  }
}


