
.gallery {
  display: grid;
  grid-template-columns: 1fr;

  &__item-more-than-3 {
    display: none;
  }
  &__show-more {
    display: none;
  }
  &__item-3 &__show-more {
    position: relative;
    display: block;
  }
  &__circle &__show-more {
    position: absolute;
    background-color: white;
    opacity: 0.7;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    bottom: 1rem;
    right: 0;
  }
  &__more-icon  &__show-more{
    position: absolute;
    width: 6rem;
    left: 1.4rem;
    top: 1.1rem;
  }    
}

.gallery>div {
  padding: 0;
  margin: 0.2rem 0;
}

.gallery>div {
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%; // auto
}

@media screen and (min-width: 767px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;

    &__item-more-than-3 {
      display: block;
    }  
  }
}