.menu-bar {
  display: none;
  // background-color: lightgray;

  font-family: $font-header;
  font-weight: $font-weight-light;
  text-transform: uppercase;

  a {
    text-decoration: none;
  }

  ul {
    margin: 1.6rem 0 0.4rem 0;
  }
  li {
    display: block ;
    float: left;
    padding-right: 1rem;

    @include respond(wide) {
      padding-left: 0.8rem;
    }
  }

  @include respond(middle) {
    display: flex;
    justify-content: flex-end;
    margin-left: 15.0rem; // logo width
    margin-right: 6.4rem; // hamburger menu
    font-size: $font-size-small;
    font-weight: $font-weight-middle;
  }

  @include respond(wide) {
    display: flex;
    justify-content: flex-end;
    margin-left: 20.0rem; // logo width
    margin-right: 8.0rem; // hamburger menu
    font-size: $font-size-wide;
    font-weight: $font-weight-middle;
  }
}